.navbar {
  //border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  backdrop-filter: blur(10px);
  position: sticky;
  z-index: 999;
  top: 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 1rem;

    .icon {
      font-size: 2rem;
      color: var(--lavender);
    }

    .links {
      font-size: 1.5rem;
      display: flex;
      gap: 1rem;

      a {
        text-decoration: none;
        color: var(--text);

        &:hover {
          color: var(--blue);
        }
      }
    }
  }
}

.container__header {
  padding-left: 1rem;
}

.directory-list {
  font-size: 1.4rem;
  padding-left: 1rem;
  display: flex;

  li {
    list-style-type: none;

    &:not(:last-child)::after {
      content: "/";
    }

    a {
      @include clickable-link;
    }
  }
}

.generic-button {
  @include rounded-box;
  padding: 1rem;
  font-size: 1.4rem;
  background: var(--crust);
  color: var(--text);
  font-family: inherit;
  font-weight: 800;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: var(--lavender);
    color: var(--mantle);
  }
}