@mixin clickable-link {
  text-decoration: none;
  color: var(--blue);
  &:hover {
    text-decoration: underline;
    color: var(--rosewater);
  }
}

@mixin rounded-box {
  border: 2px solid var(--lavender);
  border-radius: 1rem;
}

@mixin page-container {
  max-width: 1170px;
  margin: auto;
  padding: 1rem;
}