.home-container {
  max-width: 1170px;
  margin: auto;
  padding: 1rem;
  .forum-node {
    list-style-type: none;
    width: 100%;
    border: 2px solid var(--lavender);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background: var(--mantle);
    a {
      font-size: 2rem;
      text-decoration: none;
      font-weight: 800;
      color: var(--blue);
      &:hover {
        color: var(--rosewater);
        text-decoration: underline;
      }
    }

    &__description {
      font-size: 1.5rem;
    }
  }
}
