.forum-container {
  max-width: 1170px;
  margin: auto;
  padding: 1rem;

  .thread-list {
    @include rounded-box;
    background: var(--mantle);
    width: 100%;

    &__node {
      list-style-type: none;

      &:not(:last-child) {
        border-bottom: 1px solid var(--lavender);
      }

      &-content {
        margin: 1rem;

        a {
          @include clickable-link;
          font-size: 1.75rem;
        }
      }

    }
  }
}